<div
  *ngIf="videoDetailsResponse$ | async as videoDetails"
  class="responsive-container flex-column"
>
  <!-- first section image -->
  <img
    [src]="videoDetails.highImageUrl"
    alt="Video Image"
    class="details-image"
  />
  <!-- second section title -->
  <div class="title-favorite">
    <div class="title">
      {{ videoDetails.videoTitle }}
    </div>
    <button
      (click)="
        addRatingFavorite(
          videoDetails.id,
          videoDetails.videoRating || 0,
          !videoDetails.videoFavouring
        )
      "
      class="favorite-btn"
      [ngClass]="{ unFavorite: videoDetails.videoFavouring }"
    >
      {{ videoDetails.videoFavouring ? "UnFavorite" : "Add To Favorite" }}
    </button>
  </div>
  <!-- third section  details-->
  <div class="rating-duration-views">
    <!-- rating -->
    <div class="rating">
      <span class="font-bold first-child">{{ "Rate Now" }}</span>
      <div class="select-none rating-stars">
        <span
          *ngFor="let star of ratingStars"
          (click)="
            addRatingFavorite(
              videoDetails.id,
              star,
              videoDetails.videoFavouring || false
            )
          "
          [ngClass]="{ 'text-red-600': $any(videoDetails.videoRating) >= star }"
          class="text-red-300 cursor-pointer material-icons-round on-hover"
        >
          star_rate
        </span>
      </div>
    </div>
    <!-- duration -->
    <div class="duration">
      <span class="font-bold first-child">{{ "Durartion" }}</span>
      <span>{{ videoDetails.videoDuration }}</span>
    </div>
    <!-- views & likes -->
    <div class="views-likes">
      <div class="views">
        <span class="material-icons-round first-child"> visibility </span>

        <span class="first-child">{{ videoDetails.videoViews }}</span>
      </div>
      <div class="likes">
        <span class="font-bold material-icons-round first-child">
          thumb_up
        </span>
        <span>{{ videoDetails.videoLikes }}</span>
      </div>
    </div>
  </div>
  <!-- forth section description -->
  <div class="description">
    <div class="published-on">
      <span>{{ "Published On: " }}</span>
      <span>{{ videoDetails.videoDate | date }}</span>
    </div>
    <div class="description-data">
      {{ videoDetails.videoDescription }}
    </div>
  </div>
</div>
