<app-loading-bar *ngIf="loading$ | async"></app-loading-bar>
<div class="responsive-container flex-column">
  <!-- header sort -->
  <div class="list-header">
    <button
      (click)="sortVideos('videoTitle')"
      type="button"
      class="sort-btn bg-dark"
    >
      <div class="sort-arrows">
        <span>&#9650;</span>
        <span>&#9660;</span>
      </div>
      <span>{{ "Title" }}</span>
    </button>
    <button
      (click)="sortVideos('videoDate')"
      type="button"
      class="sort-btn bg-dark"
    >
      <div class="sort-arrows">
        <span>&#9650;</span>
        <span>&#9660;</span>
      </div>
      <span>{{ "Publish Date" }}</span>
    </button>
  </div>
  <!-- end of header sort -->
  <!-- videos list -->
  <ng-container *ngIf="videoListResponse$ | async as videoList">
    <app-video-item
      *ngFor="
        let video of videoList.items
          | filter: (userSearchInput$ | async)
          | sortData: sortType:sortDir
      "
      [videoItem]="video"
    ></app-video-item>

    <div *ngIf="!videoList.items.length" class="no-data-container">
      {{ "No Available Data" }}
    </div>
    <!-- pagination -->
    <div *ngIf="videoList.pageInfo.totalResults > 5" class="pagination">
      <button
        (click)="queryNewPage(videoList.prevPageToken)"
        [disabled]="!videoList.prevPageToken"
        class="pagination-btn prev"
      >
        <span class="material-icons-round"> play_arrow </span>
      </button>
      <button
        (click)="queryNewPage(videoList.nextPageToken)"
        [disabled]="!videoList.nextPageToken"
        class="pagination-btn next"
      >
        <span class="material-icons-round"> play_arrow </span>
      </button>
    </div>
  </ng-container>
  <!-- end video list -->
</div>
